$dark-blue: #1b202d;
$white: #fff;
$font-white: #f3f1ed;
$gray: #777e8e;
$orange: #ff803a; 
$font-orange: #ff9f42;


// laout
@import "settings/normalize.scss";
@import "settings/setting.scss";
@import "settings/fonts.scss";
@import "settings/font-awesome.scss";
@import "../libs/slick/slick.scss";
@import "../libs/slick/slick-theme.scss";
// @import "../libs/fotorama/fotorama.scss";
@import "sections/screen-1.scss";
@import "sections/screen-2.scss";
@import "sections/screen-3.scss";
@import "sections/screen-4.scss";
@import "sections/screen-5.scss";
@import "sections/screen-6.scss";
@import "sections/screen-7.scss";
@import "sections/footer.scss";
@import "sections/adaptive.scss";
