* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: $font-white;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2;
	background: $dark-blue;
	position: relative;
	font-family: 'futura-book';
	overflow-x: hidden;
}

p {
	color: $gray;
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {	
	list-style: none;
}
a {
	text-decoration: none;
	color: $font-white;
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
.container {
	height: 100%;
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
	// padding: 0 20px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}

.section-title {
	position: relative;
	font-size: 42px;
	color: $font-white;
	text-align: center;
	padding-top: 93px;
	font-family: 'futura-demi';
}
button {
	cursor: pointer;
	border: none;
	font-family: 'futura-book';
	font-weight: 700;
}
.parallax-window {
    min-height: 500px;
    background: transparent;
}
.section-title-mob {
	display: none;
	font-size: 42px;
	color: $font-white;
	text-align: center;
	padding-top: 45px;
	font-family: 'futura-demi';
}
.content-title-mob {
	display: none;
	font-size: 46px;
	line-height: 48px;
	font-family: 'futura-book-bold';
	color: $font-white;
}
.email-form-personal {
	// margin-top: 20px;
	color: #918675;
	text-align: left;
}
.email-form-personal input {
	display: inline-block;
	vertical-align: middle;
}
// .email-form-personal label {
// 	display: inline-block;
// 	vertical-align: middle;
// }
.email-form-personal__link {
	display: inline-block;
	border-bottom: 1px dashed #918675;
	color: #918675;
}

label.error {
	border: none;
	color: red;
	font-size: 16px;
	display: block;
}
.form-input_error {
	border: none;
	color: red;
	font-size: 16px;
	display: block;
}
#toTop {
width: 70px;
height: 70px;
border-radius: 15px;
background-image: -moz-linear-gradient( 90deg, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
background-image: -webkit-linear-gradient( 90deg, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
background-image: -ms-linear-gradient( 90deg, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
text-align: center;
padding: 5px;
position: fixed;
bottom: 10px; /* отступ кнопки от нижнего края страницы*/
right: 10px;
cursor: pointer;
display: none;
color: $font-white;
}

#toTop:hover span {
	font-size: 16px;
}
#toTop:hover i {
	display: none;
}

#toTop span {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0;
    transition: all .8s;
}
#toTop i {
	position: absolute;
	top: 33%;
	left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
	font-size: 20px;
	transition: all .8s;
}