@media (min-width: 319px) and (max-width: 768px) {
 	.screen-1 {
		height: auto;
		padding-bottom: 0;
	}
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.logo img {
		width: 43px;
		height: 45px;
	}
	.logo-title {
		margin-right: 20px;
	}
	.time, .adress, .phone-hidden {
		display: none;
	}
	.content-box {
		width: 100%;
    	float: none;
	}
	.mob-phone {
  		position: absolute;
    	// right: 10px;
    	// top: 0;
    	display: block;
    	right: 0px;
    	top: 8px;
	}
	.main-head {
		margin-bottom: 10px;
	}
	.content-title {
    	width: 100%;
    	text-align: center;
    	// margin-bottom: 25px;

    	margin-bottom: 50px;
	}
	.content-title p {
    	font-size: 32px;
    	font-weight: 700;
    	line-height: 28px;
		}
	.content-desc {
		width: 100%;
		text-align: center;
		margin-bottom: 35px;
	}
	.content-desc span {
		font-size: 22px;
		}
	.green-box-2 {
		display: none;
	}
	.content-form {
		width: 100%;
		margin-bottom: 35px;
	}
	.form-title {
		text-align: left;
		margin-bottom: 25px;
	}
	.form-title p {
		font-size: 28px;
		margin-bottom: 15px;
	}
	.form-title span {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.form-adress, .form-phone {
    	padding: 12px 10px;
    	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    	margin-bottom: 10px;
	}
	.reklame_content-form .form-adress, .form-phone {
    	padding: 15px 10px;
    	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    	margin-bottom: 10px;
}
	.phone input {
		display: block;
	}
	.btn-box {
		margin-top: 20px;
	}
	.content-list {
		width: 100%;
		margin-bottom: 23px;
	}
	.content-item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.map-box_pic {
		position: static;
    	width: 262px;
    	height: auto;
    	display: block;
    	transform: translateX(0);
    	bottom: 0;
    	left: 0;
    	margin: auto;
	}
	.form {
		border: 10px solid rgba(255, 255, 255, 0.4);
		padding: 30px 20px;
	}
	// .btn {
	// 	width: 100%;
	// }
	.green-box-1 {
    	position: absolute;
    	left: 0;
    	bottom: -5px;
    	// bottom: 122px;
	}
	.green-box-1 img {
		width: 100%;
	}
	.section-title {
		font-size: 30px;

		// margin-bottom: 15px;
	}
	.map-object {
		position: static;
		padding: 20px;
    	margin-bottom: 20px;
    	transform: translateX(50%);
	}
	// .green-box-1 {
	// 	width: 281px;
	// }
	// .green-box-1 img {
	// 	width: 100%;
	// }

	.comments-slider {
		padding: 30px 10px;
	}
	.screen-2 {
		height: auto;

		// margin-top: -130px;
	}
	.format-item {
		margin-left: 0;
		width: 100%;
	}
	.format-item_mob {
		display: none;
	}
	.btn-box_mob {
		text-align: center;
		padding-bottom: 50px;

		margin-top: -56px;
	}
	.btn-mob {
		display: inline-block;
		width: 195px;
		border-radius: 40px;
	    color: $orange;
	    background: transparent;
        padding: 20px;
        box-shadow: 0 1px 0 0 rgba(255, 192, 0, 0.25),
         0 -1px 0 0 rgba(255, 64, 0, 0.25),
         1px 0 0 0 rgba(255, 192, 0, 0.25),
         -1px 0 0 0 rgba(255, 64, 0, 0.25),
         1px -1px 0 0 rgba(255, 128, 0, 0.5),
         -1px 1px 0 0 rgba(255, 128, 0, 0.5),
         1px 1px 0 0 rgba(255, 255, 0, 0.75),
         -1px -1px 0 0 rgba(255, 0, 0, 0.75);
	 //  border-image: -webkit-linear-gradient(left, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
	 //  border-image: -o-linear-gradient(left, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
	 //  border-image: linear-gradient(to right, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
	}


	.reklame_content-form {
		width: 100%;
    	padding: 0;
    	margin: 0 auto;
	}
	.reklame-banner {
		display: none;
	}

	.advantages-item {
		margin-bottom: 20px;
		margin-left: 0;
		width: 100%;
	}
	.trust-content {
		width: 100%;
	}	
	.comments-green-1,
	.comments-green-2 {
		display: none;
	}
	.trast-item {
		width: 100%;
		margin-left: 0;
	}
	.box-slider {
		width: 100%;
	}
	// .autor-pic, .autor-name {
	// 	display: inline-block;
	// 	vertical-align: middle;
	// }
	.autor-pic, .autor-content {
		width: 100%;
		float: none;
	}
	.autor-pic img {
    	width: 33%;
    	margin-right: 0;
    	display: inline-block;
	}
	.autor-name {
    	width: 65%;
    	display: inline-block;
    	vertical-align: top;
    	padding-left: 10px;
	}
	.arrow-left {
		left: 10%;
	}
	.arrow-right {
    	// left: auto;
    	right: 10%;
	}
	.feedback-slider-arrows {
    	top: 110%;
	}
	.screen-6 {
		padding-bottom: 100px;
	}


	.media-content-pic {
    	position: static;
    	width: 100%;
    	height: auto;
	}
	.media-content .content-form {
    	position: relative;
    	width: 100%;
    	float: none;
    	margin-top: 0;
	}
	.media-box {
    	position: static;
    	width: 100%;
	}
	.block-map-object {
    	position: static;
    	transform: none;
    	width: auto;
    	text-align: center;
    	background-position-x: center;
    	margin-top: -100px;
    	padding-top: 226px;
	}
	.block-map-object a {
    	position: static;
	}
	.object-calc {
	    width: 100%;
	    float: none;
	}
	.object-calc-list {
		padding: 30px 15px;
		text-align: left;
    	justify-content: space-between;
    	display: flex;
	}
	.object-calc-panel {
    	margin-top: -10px;
	}
	.object-form-box {
		padding: 0 10px;
	}
	.object-calc-panel-items {
		display: none;
	}
	.map-box-footer {
    	float: none;
    	width: auto;
    	height: auto;
    	position: relative;
	}
	.screen-4 .section-title p {
    	width: 100%;
	}
	.footer-konf {
		display: none;
	}
	.footer-autor_hidden {
		display: none;
	}
	.footer-autor__show {
		display: block;
		margin: auto;
    	font-size: 14px;
	}
	.footer-autor__show p {
	    color: $font-orange;
	}
	.footer-phone {
		display: block;
		font-size: 18px;
    	margin: auto;
		margin-bottom: 10px;
	}
	.footer-list-mob {
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}
	.footer-list {
		margin-left: 0;
	}
	.footer-link {
		font-size: 26px;
		color: $font-orange;
	}

	.reklame_content-form .form {
		padding: 15px;
	}
	.map-modal_adress {
	    float: none;
	    width: 100%;
	    font-weight: 100;
	}
	table {
	    margin-left: 35px;
	    text-align: left;
	    width: 100%;
	    color: #949494;
	}
	#mapModal1, #mapModal2 {
	    width: 100% !important;
	    height: 410px !important;
	    margin-top: 20px;
	    margin-bottom: 22px;
	}
	.map-modal-adress__pic {
	    float: none;
	    width: 100%;
	}
	.modal-adress__pic {
	    width: 100%;
	    height: auto;
	    margin-bottom: 10px;
	}
	.modal-adress__pic_mini {
	    text-align: center;
	    width: 100%;
	}
	.popup {
	    width: 100%;
	}
	.modal-format {
    	width: 100%;
    	padding-bottom: 0;
	}
	.modal-slider-box {
	    width: 100%;
	    float: none;
	}
	.modal-slider-content {
	    float: none;
	    width: 100%;
	    margin-left: 0;
	}
	.btn-box_modal {
	    margin-left: 0;
	}
	.form-phone_modal {
		margin-left: 0;
	}
	.popup-close {
		right: 15px;
	}
	.feedback-slider-arrows {
	    height: 50px;
	    width: 50px;
	}
	.modal-block {
	    padding: 0 10px;
	}
	.arrow-right_mob {
	    right: 15%;
	}
	.arrow-left_mob {
	    left: 15%;
	}
	#map {
	    float: none;
	    width: 100%;
	    min-height: 895px;
	    position: relative;
	}

}

@media (min-width: 769px) and (max-width: 1170px) {
	.feedback-slider-arrows {
		top: 112%;
	}

	.arrow-right {
	    right: 35%;
	}
	.arrow-left {
		left: 35%;
	}
	.reklame-banner {
	    width: 555px;
	    float: left;
	    padding: 0 60px 0 60px;
	}
	.reklame_content-form {
	    width: 555px;
	    padding: 0 60px 0 59px;
	    float: right;
	}
}























// // // @media (min-width: 320px) and (max-width: 1170px) {
// // // 	.container {
// // // 		width: 100%;
// // // 		padding: 0 15px;
// // // 	}
// // // 	.logo img {
// // // 		width: 43px;
// // // 		height: 45px;
// // // 	}
// // // 	.map-box_pic {
// // //     	right: 45%;
// // //     	bottom: 0;
// // //     	width: 230px;
// // // 	}
// // // 	.content-desc {
// // // 		width: auto;
// // // 	}
// // // 	.comments-green-1,
// // // 	.comments-green-2 {
// // // 		display: none;
// // // 	}
// // // 	.content-box {
// // // 		width: 60%;
// // // 	}
// // // 	.format-item {
// // //     	margin-left: 10px;
// // // 	}
// // // 	.content-item-1 {
// // // 		width: 100%;
// // // 		// float: none;
// // // 	}
// // // }
// // // @media (max-width: 960px) {
// // // 	.content-item {
// // // 		width: 100%;
// // // 		float: none;
// // // 	}

// // // 	.mob-phone {
// // // 		display: inline-block;
// // // 		vertical-align: middle;
// // //     	width: 48%;
// // //     	text-align: right;
// // // 	}
// // // 	.time, .adress, .phone {
// // // 		display: none;
// // // 	}
// // // 	.green-box-1 img {
// // //     	width: 320px;
// // // 	}

// // // 	.object-calc {
// // // 		width: 100%;
// // // 		float: none;
// // // 	}
// // // 	#map {
// // // 		width: 100%;
// // // 		float: none;
// // // 	}
// // // 	.autor-content {
// // //    		width: 55%;
// // //    	}	
// // // }
// // // @media (max-width: 768px) {
// // // 	.container {
// // // 		width: auto;
// // // 		padding: 0 20px;
// // // 	}
// // // 	.content-title {
// // //     width: 100%;
// // //     margin-bottom: 35px;
// // // 	}
// // // 	.content-box {
// // //     	width: 100%;
// // //     	float: none;
// // //     	text-align: center;
// // // 	}
// // // 	.content-form {
// // //     	width: 100%;
// // // 	}
// // // 	.content-list {
// // // 		display: none;
// // // 	}
// // // 	.content-item-mob {
// // // 		width: 100%;
// // // 	}
// // // 	.content-box-mob {
// // // 		display: block;
// // // 		width: 100%;
// // // 	}
// // // 	.map-box_pic {
// // // 		margin-right: 0;
// // // 		bottom: -10%;
// // // 	}
// // // 	.green-box-2 {
// // // 		display: none;
// // // 	}

// // // 	.popup {
// // // 		width: 100%;
// // // 		margin-top: 50px;
// // // 	}
// // // 	.modal-format {
// // // 		width: 100%;
// // // 		border: none;
// // // 	}
// // // 	.modal-slider-item, .modal-slider-content {
// // // 		width: 100%;
// // // 		float: none;
// // // 	}
// // // 	.modal-slider-content {
// // // 		margin-top: 50px;
// // // 	}
// // // 	.modal-slider .slick-dots {
// // // 		display: block;
// // // 		width: 100%;
// // // 	}
// // // 	.arrow-right_mob {
// // // 		right: 25%;
// // // 	}
// // // 	.arrow-left_mob {
// // // 		left: 25%;
// // // 	}
// // // 	.modal-slider .slick-dots {
// // //     	bottom: -50px;
// // // 	}
// // // 	.modal-box {
// // // 		margin-top: 110px;
// // // 	}

// // // 	.modal-box-title {
// // // 		display: block;
// // // }
// // // 	.form-phone_modal {
// // // 		display: block;
// // // }
// // // 	.btn-box_modal {
// // // 		display: block;
// // // 	}
// // // 	.popup-close {
// // // 		right: 6%;
// // // 	}
// // // 	.format-item_mob {
// // // 		display: none;
// // // 	}
// // // 	.screen-4 .section-title p {
// // //     width: 100%;
// // // }
// // // 	.btn {
// // // 	    width: 100%;
// // // }
// // // .map-object {
// // // 	position: static;
// // // }

// // // /*_____*/
// // // .screen-1 {
// // // 	height: auto;
// // // }

// // // .logo img {
// // // 	display: inline-block;
// // // }
// // // .logo span {
// // // 	display: inline-block;
// // //     width: 62%;
// // // }
// // // .content-title p {
// // // 	font-size: 30px;
// // // }
// // // .content-desc {
// // //     width: 100%;
// // // 	font-size: 22px; 
// // // }
// // // .form-title p {
// // // 	font-size: 28px;
// // // }
// // // .form-title span {
// // //     font-size: 18px;
// // // }
// // // .content-form {
// // // 	float: none;
// // // }
// // // .map-box_pic{
// // // 	position: static;
// // // }
// // // .form {
// // // 	padding: 15px;
// // // }
// // // /*_____*/


// // // 		//screen-2
// // // 	.format-item {
// // // 		width: 100%;
// // // 		margin-left: 0;
// // // 	}
// // // 	.format-map {
// // // 		display: none;
// // // 	}
// // // 	.format-map__link_mob {
// // // 		font-size: 12px;
// // // 		text-transform: uppercase;
// // // 		color: $orange;
// // // 		margin: 10px 0;
// // // 		display: block;
// // // 	}

// // // 	.btn-box_mob {
// // // 		text-align: center;
// // // 	}
// // // 	.btn-mob {
// // // 		display: inline-block;
// // // 		width: 185px;
// // // 		border-radius: 40px;
// // // 	    color: $orange;
// // // 	    background: transparent;
// // //         padding: 20px;
// // //         box-shadow: 0 1px 0 0 rgba(255, 192, 0, 0.25),
// // //          0 -1px 0 0 rgba(255, 64, 0, 0.25),
// // //          1px 0 0 0 rgba(255, 192, 0, 0.25),
// // //          -1px 0 0 0 rgba(255, 64, 0, 0.25),
// // //          1px -1px 0 0 rgba(255, 128, 0, 0.5),
// // //          -1px 1px 0 0 rgba(255, 128, 0, 0.5),
// // //          1px 1px 0 0 rgba(255, 255, 0, 0.75),
// // //          -1px -1px 0 0 rgba(255, 0, 0, 0.75);
// // // 	 //  border-image: -webkit-linear-gradient(left, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
// // // 	 //  border-image: -o-linear-gradient(left, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
// // // 	 //  border-image: linear-gradient(to right, rgb(255,93,66) 0%, rgb(255,176,66) 100%);
// // // 	}
	
	
// // // 	/*_____*/
// // // 	.section-title {
// // // 		font-size: 30px;
// // // 	}
// // // 	.format-map__link_mob {
// // // 		margin-top: 20px;
// // // 	}
// // // 	.form-phone input {
// // // 		width: 74%;
// // // 	}

// // // 	.format-map__link_mob {
// // // 		display: block;
// // // 	}
	
// // // 	/*_____*/
// // // 	// screen-3
// // // 	.reklame-banner {
// // // 		display: none;
// // // 	}

// // // 	//screen-4
// // // 	.advantages-item {
// // //     	width: 100%;
// // // 	}
// // // 	.comments-green-1,
// // // 	.comments-green-2 {
// // // 		display: none;
// // // 	}
// // // /*_____*/


// // // 	.trast-item {
// // // 		margin-bottom: 40px;
// // // 	}

// // // /*_____*/
// // // 	//trast
// // // 	.trust-content {
// // // 		width: 100%;
// // // 	}
// // // 	.trast-item {
// // // 		margin-left: 0;
// // // 		display: block;
// // // 	}

	
// // // 	.box-slider {
// // // 		width: 100%;
// // // 		padding-bottom: 50px;
// // // 	}
// // // 	.comments-slider {
// // // 		padding-bottom: 0;
// // // 	}
// // // 	.autor-pic {
// // // 		// text-align: center;
// // // 		// width: auto;
// // // 		// float: none;
// // // 	}
// // // 	.autor-pic img {
// // // 		display: inline-block;
// // // 		text-align: center;
// // // 		margin-right: 30px;
// // // 		width: 130px;
// // // 	}
// // // 	.slick-slide img {
// // // 		display: inline-block;
// // // 	}
// // // 	// .autor-content {
// // // 	// 	width: 100%;
// // // 	// }
// // // 	.slick-dots {
// // // 		bottom: -70px;
// // // 	}
// // // 	.feedback-slider-arrows {
// // // 		top: 105%;
// // // 	}
// // // 	.arrow-right {
// // // 		left: 65%;
// // // 	}
// // // 	.arrow-left {
// // // 		left: 25%;
// // // 	}
// // // /*_____*/
// // // 	.comments-slider {
// // // 		padding: 20px;
// // // 	}
// // // 	.autor-pic {
// // // 		float: none;
// // // 		width: 100%;
// // // 	}
// // // 	.autor-pic img {
// // // 		width: 33%;
// // // 		margin-right: 0;
// // // 	}
// // // 	.autor-content {
// // // 		float: none;
// // // 		width: 100%;
// // // 	}
// // // 	.autor-name{
// // // 		width: 65%;
// // // 		display: inline-block;
// // // 		vertical-align: top;
// // // 		padding-left: 10px;
// // // 	}
// // // 	.arrow-left {
// // // 		left: 10%;
// // // 	}
// // // 	.arrow-right {
// // // 		left: auto;
// // // 		right: 10%;
// // // 	}

// // // /*_____*/


// // // 	// screen-6
// // // 	.media-box {
// // // 		bottom: 0;
// // // 		right: 0;
// // // 	}
// // // 	.media-content-pic {
// // // 		position: static;
// // // 		text-align: center;
// // // 	}
// // // /*_____*/	


// // // .media-box {
// // //     position: static;
// // // }
// // // .block-map-object {
// // // 	position: static;
// // // 	transform: none;
// // // 	width: auto;
// // // 	text-align: center;
// // // 	background-position-x: center;
// // // 	margin-top: -100px;
// // // 	padding-top: 226px;
// // // }
// // // .block-map-object a {
// // // 	position: static;
// // // }
// // // .screen-6 {
// // // 	padding-bottom: 55px;

// // // }
// // // .content-item {
// // //     width: auto;
// // // }
// // // /*_____*/
// // // 	// screen-7
// // // 	.object-calc {
// // // 	    width: 100%;
// // // 	    float: none;
// // // 	}
// // // 	#map {
// // // 		width: 100%;
// // //    		float: none;
// // // 	}
// // // /*_____*/
// // // .object-form-box {
// // // 	padding: 15px;
// // // }
// // // .search-box {
// // // 	padding-left: 15px;
// // // }
// // // .search-box_btn {
// // // 	padding-left: 17px;
// // // 	padding-right: 17px;
// // // }
// // // .object-item label {
// // // 	display: inline-block;
// // // 	width: 60%;
// // // }
// // // .object-item-desc {
// // // 	width: 108px;
// // // }

// // // /*_____*/	
// // // 	// footer
// // // 	.footer-konf {
// // // 		display: none;
// // // 	}
// // // 	.footer-phone {
// // // 		display: block;
// // // 		margin: 10px 0;
// // // 	}
// // // 	.footer-list-mob {
// // // 		display: block;
// // // 		text-align: center;
// // // 	}
// // // 	.footer-list {
// // // 		margin-left: 0;
// // // 	}
// // // }


