.screen-2 {
	// background: url("../img/bg/bg-2.jpg") 50% 0 no-repeat fixed;
	// background: url("../img/bg/bg-2.jpg") no-repeat center;
	// background-size: cover;
	margin-top: -16px;
	margin-bottom: -33px;
	border-bottom: 1px solid $gray;
	// background-attachment: fixed;
	font-family: 'futura-demi';
	font-weight: 400;
	position: relative;
	// height: 100vh;
	// overflow: hidden;
}
// .screen-2-bg {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	height: 100vh;
// 	overflow: hidden;
// 	background-size: cover;
// }
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.format {
	margin-top: 20px;
	text-align: center;
}
.format-map-box {
	position: absolute;
    top: 25%;
    left: 50%;
    display: none;
    transform: translateX(-50%);
}
.format-item {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 110px;
	margin-bottom: 115px;
	cursor: pointer;
	min-height: 421px;
}
.format-item:first-child {
	margin-left: 0;
}
.format-item:hover .format-map-box  {
	display: block;
}
.format-pic {
	position: relative;
	margin-bottom: 28px;
}
.format-pic-img {
	width: 100%;
}
.format-map {
    position: relative;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: -moz-linear-gradient( 60deg, rgb(255,101,66) 10%, rgb(255,175,66) 100%);
	background: -webkit-linear-gradient( 60deg, rgb(255,101,66) 10%, rgb(255,175,66) 100%);
	background: -ms-linear-gradient( 60deg, rgb(255,101,66) 10%, rgb(255,175,66) 100%);
}
.format-map::before {
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	border: 7px solid rgb(255, 255, 255);
	border-radius: 50%;
	opacity: .11;
	position: absolute;
    top: -7%;
    left: -7%;
}
.format-map__link {
	position: absolute;
	top: 40%;
	left: 0;
	display: inline-block;
	text-align: center;
}
.format-map img {
	position: absolute;
	top: 10%;
    left: 42%;
}
.format-desc .btn {
	padding: 16px 20px;
	font-size: 12px;
	margin-bottom: 0;
	width: 218px;
}
.format-title {
	margin-bottom: 11px;
	font-size: 22px;
	text-align: center;
}
.format-subtitle {
	margin-bottom: 20px;
	text-align: center;
	color: $gray;
	font-size: 18px;
}
.format-map__link_mob {
	display: none;
}
.btn-mob {
	display: none;
}
.popup {
	position: absolute;
	width: 1012px;
	margin: 0 auto;
	top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    display: block;
}
.popup-close {
	position: absolute;
	right: -6%;
	top: 0;
	font-size: 38px;
	transition: all 1s;
	border: 1px solid transparent;
	z-index: 5;
}
.popup-close:hover {
	transform: rotate(180deg);
	color: $orange;
}
.modal-block {
	padding: 0 30px;
}
.popup-btn {
	width: 240px;
}
.modal-format {
	width: 1012px;
	margin: 0 auto;
	border: 10px solid rgba(255, 255, 255, 0.4);
    padding: 50px 0;
    background: rgba(29, 33, 45, .9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}
.modal-slider-box {
	width: 50%;
	float: left;
}
.modal-slider {
    width: 100%;
    margin-bottom: 80px;
    padding: 0 45px;
}
.modal-slider-item {
	// width: 387px;
	border-radius: 10px;
	background: transparent;
}
.modal-slider-item img {
	width: 100%;
	border-radius: 10px;
	display: block;
}
.modal-slider-content {
	float: right;
	width: 45%;
	margin-left: 25px;
}
.modal-slider-title {
	color: $orange;
	font-size: 36px;
	font-family: 'futura-demi';
	font-weight: 700;
	margin-bottom: 35px;
}
.content-item_slider {
	width: 100%;
	float: none;
	font-size: 18px;
	margin-bottom: 10px;
}
.modal-slider-subtitle {
	margin-bottom: 20px;
	font-size: 20px;
	font-family: 'futura-demi';
	font-weight: 400;
	display: block;
}
.content-item_slider i {
	width: 5px;
	height: 5px;
	top: 50%;
}
.content-item_slider i::after {
    display: none;
}
.modal-box {
	background: #252830;
	margin-top: 25px;
	padding: 35px;
	text-align: center;
}
.modal-box-title {
	display: inline-block;
	vertical-align: middle;
	font-family: 'futura-demi';
	font-weight: 400;
	font-size: 24px;
}
.form-phone_modal {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}
.btn-box_modal {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .7);
	z-index: 500;
	display: none;
	width: 100vw;
	height: 100vh;
}
//popup-karta

.popup-karta {
	padding: 23px;
	background: $white;
	width: 338px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translateX(-50%);
    z-index: 10000;
    display: none;
}
.popup-karta .btn {
	width: 180px;
}
.popup-karta_pic {
	width: 275px;
}
.popup-karta_pic img {
	width: 100%;
}
.popup-karta-title {
	margin: 22px 0;
}
.popup-karta-title p {
	color: #1c1c1c;
	font-size: 17px;
	margin-bottom: 10px;
}
.popup-karta-title span {
	font-size: 15px;
	color: #777e8e;
	font-family: 'futura-demi';
}
.btn-box_popup-karta {
	text-transform: uppercase;
	margin-top: 23px;
}
.btn-box_popup-karta button {
	padding: 20px 0;
	letter-spacing: 1;
}
.btn-box_popup-karta a {
	color: #1c1c1c;
	font-size: 12px;
	margin-left: 17px;
}
.popup-close_karta {
	right: 5%;
	color: #d6d6d6;
}
